<footer class="w-full mt-10 text-sm text-neutral-300 before:absolute before:w-full before:left-0 before:border-t before:border-t-zinc-600">
  <div class="mx-auto p-5">
    <ul class="flex flex-wrap gap-2">
      <li><%= link_to "Home", root_path, class: "no-underline hover:underline focus:underline" %></li>
      <li><%= link_to "About", about_path, class: "no-underline hover:underline focus:underline" %></li>
      <li><%= link_to "Contact", contact_path, class: "no-underline hover:underline focus:underline" %></li>
      <li><%= link_to "Help", help_path, class: "no-underline hover:underline focus:underline" %></li>
      <li><%= link_to "Sign Up", signup_path, class: "no-underline hover:underline focus:underline" %></li>
    </ul>
    <div class="w-full mt-2 p-2 text-xs border rounded-md overflow-scroll" >
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</footer>
