<header class="w-full mb-5 flex flex-wrap justify-between pt-5 px-5">
  <%= link_to root_path, class: "no-underline whitespace-nowrap mr-2" do %>
    <h1>
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="text-yellow-400 inline relative bottom-[0.2em] h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z" />
      </svg>
      <span class="font-serif font-bold">linked</span><span>List</span>
    </h1>
  <% end %>
  <nav aria-label='Site navigation'>
    <ul class="flex flex-wrap flex-row items-center gap-2 text-sm text-neutral-300">
      <% if logged_in? %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Log Out", logout_path, data: { "turbo-method": :delete } %></li>
        <li><%= render 'shared/new_post_button' %></li>
      <% else %>
        <li><%= link_to "Log In", login_path, class: "ml-2" %></li>
      <% end %>
    </ul>
  </nav>
</header>
