<% provide(:title, 'Sign Up') %>
<div class='Form'>
  <h2>Sign Up</h2>
  <% #TODO: switch to using flash for sign up errors %>
  <%= render 'shared/error_messages' %>
  <%= form_with model: @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
    <%= f.label :password %>
    <%= f.password_field :password, required: true, minLength: 8 %>
    <%= f.label :password_confirmation, 'Confirm password' %>
    <%= f.password_field :password_confirmation, required: true, minLength: 8 %>
    <%= f.submit 'Create account' %>
  <% end %>
</div>
