<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% if @turbo_reload %>
      <meta name="turbo-visit-control" content="reload">
    <% end %>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" type="image/png" href="/favicon.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-zinc-700 text-neutral-100 min-h-screen">
    <a href='#main-content' class='bg-neutral-100 text-neutral-800 px-2 absolute -top-8 focus:top-0 transition-all focus:transition-none delay-500 focus:delay-[0ms] rounded-b'>Skip to main content</a>
    <div class='w-full max-w-4xl min-h-screen mx-auto flex flex-col justify-center items-center'>
      <%= render 'partials/header' %>
      <main id='main-content' class="grow w-full px-5 focus:outline-none focus-visible:outine">
        <%= render 'shared/flash' %>
        <%= yield %>
      </main>
      <%= render 'partials/footer' %>
    </div>
  </body>
</html>
